<div class="split-pane-content-secondary page">
  <div class="lower">
    <vertical-split-pane primary-component-minsize="35" secondary-component-minsize="35" primary-component-initialratio="0.8">
      <div class="split-pane-content-primary">
        <div class="left">
          <h4> Processes </h4>
          <ng-table [className]="'cell'" [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
          </ng-table>
        </div>
      </div>
      <div class="split-pane-content-secondary">
        <div class="right">
          <h4>Process Details</h4>
          <app-process-view [selected]="selected"></app-process-view>
        </div>
      </div>
    </vertical-split-pane>

  </div>
</div>
