<h4> List </h4>
<div class="sticky-top">
  <div class="btn-group btn-group-sm mb-1" role="group" data-toggle="buttons" *ngIf="large">
    <button class="btn btn-info btn-sm" (click)="toggleFilter('ALL')" [ngClass]="{'active': isFiltered('ALL')}">ALL</button>
    <button class="btn btn-info btn-sm" *ngFor="let t of types" (click)="toggleFilter(t.value)" [ngClass]="{'active': isFiltered(t.value)}">{{t.label}}</button>
  </div>

  <div ngbDropdown class="d-inline-block" *ngIf="!large">
    <button class="btn btn-sm btn-info mb-1" id="dropdownBasic1" ngbDropdownToggle>{{prefs.typeSelected}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item gutter" (click)="toggleFilter('ALL')"><i class="fa fa-check fa-fw check" *ngIf="isFiltered('ALL')"></i>ALL</button>
      <button class="dropdown-item gutter" *ngFor="let t of types" (click)="toggleFilter(t.value)"><i class="fa fa-check fa-fw check" *ngIf="isFiltered(t.value)"></i>{{t.label}}</button>
    </div>
  </div>

  <div class="btn-group btn-group-sm mb-1" role="group" data-toggle="buttons" *ngIf="large">
    <button class="btn btn-info btn-sm" (click)="display = 'table'" [ngClass]="{'active': display == 'table'}"><i class="fa fa-table"></i></button>
    <button class="btn btn-info btn-sm" (click)="display = 'list'" [ngClass]="{'active': display == 'list'}"><i class="fa fa-list"></i></button>
  </div>

  <div class="btn-group btn-group-sm mb-1" role="group" data-toggle="buttons">
    <button [disabled]="!selected" class="btn btn-secondary btn-sm " (click)="edit()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit </button>
    <button class="btn btn-sm btn-secondary " (click)="newItem()"><i class="fa fa-plus" aria-hidden="true"></i> New Item</button>
    <button class="btn btn-sm btn-secondary " (click)="newEdge()"><i class="fa fa-plus" aria-hidden="true"></i> New Link</button>
  </div>

</div>
<div class="row">
  <div class="col-lg-9">
    <ng-table *ngIf="large && display=='table'" [className]="['table-responsive','table-condensed']" [config]="getConfig()" (tableChanged)="onChangeTable()"
      (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="getConfig().sorting.columns">
    </ng-table>

    <div *ngIf="!large || display=='list'" tabindex="1" (keydown)="key($event)" class="list">
      <div (keydown)="key($event)" *ngFor="let r of rows" class="selectable" [ngClass]="{'selected' : isSelected(r)}" (click)="onListClick(r)"
        (dblclick)="view(r)" (press)="view(r)">
        {{r.item.data.label}} <span class="text-muted">v: {{r.item.data.version}}</span>
      </div>
    </div>
  </div>
  <div class="col-lg-3" *ngIf="large">
    <div class=" sticky-top">
      <app-view [item]="selected"></app-view>
    </div>
  </div>
</div>
