chevron_button {
  border: 0 solid white;
}

.page {
  min-height: 600px;
  height: 100%;
}

.cell {
  padding: .1rem !important;
}

.selectable {
  cursor: pointer;
  padding: 5px 10px 10px 5px;
}

.selectable:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.selectable:hover {
  background-color: #BABABA;
}

.selected {
  background-color: #BABABA !important;
}

.list {
  outline: 0px solid transparent;
}

.list:focus {
  outline: 0px solid transparent;
}
