<div *ngIf="selected">
  <h6>Name: {{selected.process_name}}</h6>
  <h6>Component: {{selected.component_name}}</h6>
  <h6>Source: {{selected.source}}</h6>
  <h6>Executor: {{selected.executor_name}}</h6>
  <h6>Docker Base: {{selected.process_name}}</h6>
  <h6>Version: {{selected.version}}</h6>

  <div class="card" *ngIf="selected.resources">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_res?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_res = !c_res"
        [attr.aria-expanded]="!c_res" aria-controls="resources"></i> Resources
    </div>
    <div class="card-body" id="resources" [ngbCollapse]="c_res">
      <h6>CPU: {{selected.resources.cpu}}</h6>
      <h6>RAM: {{selected.resources.ram}}</h6>
      <h6>Disk: {{selected.resources.disk}}</h6>
      <h6>GPU: {{selected.resources.gpu}}</h6>
      <h6>Instances: {{selected.resources.instances}}</h6>
      <h6>DFS Storage: {{selected.resources.dfs_storage}}</h6>
      <h6>Archive Storage: {{selected.resources.archive_storage}}</h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.platform_technologies_used">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_tech?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_tech = !c_tech"
        [attr.aria-expanded]="!c_tech" aria-controls="technologies"></i> Platform Technolgies Used
    </div>
    <div class="card-body" id="technologies" [ngbCollapse]="c_tech">
      <h6 *ngFor="let t of selected.platform_technologies_used">{{t.technology}} <span class="badge badge-pill badge-info">{{t.version}}</span></h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.third_party_libraries">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_lib?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_lib = !c_lib"
        [attr.aria-expanded]="!c_lib" aria-controls="libraries"></i> Third Party Libraries
    </div>
    <div class="card-body" id="libraries" [ngbCollapse]="c_lib">
      <h6 *ngFor="let l of selected.third_party_libraries">{{l.library}} <span class="badge badge-pill badge-info">{{l.version}}</span></h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.data_written">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_dw?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_dw = !c_dw"
        [attr.aria-expanded]="!c_dw" aria-controls="written"></i> Data Written
    </div>
    <div class="card-body" id="written" [ngbCollapse]="c_dw">
      <h6 *ngFor="let d of selected.data_written">{{d.type}} <span class="badge badge-pill badge-info">{{d.version}}</span></h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.data_consumed">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_dc?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_dc = !c_dc"
        [attr.aria-expanded]="!c_dc" aria-controls="consumed"></i> Data Consumed
    </div>
    <div class="card-body" id="consumed" [ngbCollapse]="c_dc">
      <h6 *ngFor="let d of selected.data_consumed">{{d.data_name}} <span class="badge badge-pill badge-info">{{d.version}}</span></h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.intents_handled">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_ih?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_ih = !c_ih"
        [attr.aria-expanded]="!c_ih" aria-controls="intents_handled"></i> Intents Handled
    </div>
    <div class="card-body" id="intents_handled" [ngbCollapse]="c_ih">
      <h6 *ngFor="let i of selected.intents_handled">{{i.intent_name}} <span class="badge badge-pill badge-info">{{i.version}}</span></h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.intents_used">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_iu?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_iu = !c_iu"
        [attr.aria-expanded]="!c_iu" aria-controls="intents_used"></i> Intents Used
    </div>
    <div class="card-body" id="intents_used" [ngbCollapse]="c_iu">
      <h6 *ngFor="let i of selected.intents_used">{{i.intent_name}} <span class="badge badge-pill badge-info">{{i.version}}</span></h6>
    </div>
  </div>

  <div class="card" *ngIf="selected.service_calls">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_sc?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_sc = !c_sc"
        [attr.aria-expanded]="!c_sc" aria-controls="service_calls"></i> Service Calls
    </div>
    <div class="card-body" id="service_calls" [ngbCollapse]="c_sc">
      <h6 *ngFor="let i of selected.service_calls">{{i.process_name}}:{{i.endpoint}} <span class="badge badge-pill badge-info">{{i.version}}</span></h6>
    </div>
  </div>
  <div class="card" *ngIf="selected.service_endpoints">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_se?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_se = !c_se"
        [attr.aria-expanded]="!c_se" aria-controls="service_endpoints"></i> Service Calls
    </div>
    <div class="card-body" id="service_endpoints" [ngbCollapse]="c_se">
      <h6 *ngFor="let i of selected.service_endpoints">{{i.endpoint}}</h6>
    </div>
  </div>
  <div class="card" *ngIf="selected.algorithms_invoked">
    <div class="card-header">
      <i class="fa fa-chevron-up mr-auto" [ngClass]="c_alg?'fa-chevron-up':'fa-chevron-down'" aria-hidden="true" (click)="c_alg = !c_alg"
        [attr.aria-expanded]="!c_alg" aria-controls="algorithms_invoked"></i> Algorithms Invoked
    </div>
    <div class="card-body" id="algorithms_invoked" [ngbCollapse]="c_alg">
      <h6 *ngFor="let i of selected.algorithms_invoked">{{i.alg_name}} <span class="badge badge-pill badge-info">{{i.version}}</span></h6>
    </div>
  </div>
</div>
