<h4> Timeline</h4>
<div class="sticky-top">

  <div class="btn-group btn-group-sm mb-1 mr-auto" role="group" data-toggle="buttons" *ngIf="large">
    <button class="btn btn-info btn-sm" *ngFor="let t of types" (click)="toggleFilter(t.value)" [ngClass]="{'active': isFiltered(t.value)}">{{t.label}}</button>
  </div>

  <div ngbDropdown class="d-inline-block" *ngIf="!large">
    <button class="btn btn-sm btn-info mb-1" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-filter"></i> Types</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item gutter" *ngFor="let t of types" (click)="toggleFilter(t)"><i class="fa fa-check fa-fw check" *ngIf="isFiltered(t)"></i>{{t}}</button>
    </div>
  </div>

  <div class="btn-group btn-group-sm mb-1" role="group" data-toggle="buttons">
    <button [disabled]="!selected" class="btn btn-secondary btn-sm " (click)="edit()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit </button>
    <button class="btn btn-sm btn-secondary " (click)="newItem()"><i class="fa fa-plus" aria-hidden="true"></i> New Item</button>
    <button class="btn btn-sm btn-secondary " (click)="newEdge()"><i class="fa fa-plus" aria-hidden="true"></i> New Link</button>
  </div>

</div>
<div class="row">
  <div class="col-lg-9">
    <ngx-timeline [events]="events">
      <ng-template let-event let-index="rowIndex" timelineHeader>
        <div class="clickable" id="{{event.id}}" (click)="select(event)">{{event.header}}</div>
      </ng-template>
      <ng-template let-event let-index="rowIndex" timelinePoint>
        <div class="clickable" id="{{event.id}}" (click)="select(event)">{{event.header}}</div>
      </ng-template>
    </ngx-timeline>
  </div>
  <div class="col-lg-3">
    <div class=" sticky-top">
      <app-view [item]="selected"></app-view>
    </div>
  </div>
</div>
