.full {
  height: 100%;
  width: 100%;
  min-height: 400px;
  min-width: 400px;
}

.library {
  background-color: yellow
}

.check {
  margin-left: -24px
}

.gutter {
  padding-left: 1.75rem
}

.navigator {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 200px;
  min-height: 150px;
  overflow: hidden;
  box-shadow: 10px 10px 10px #888888;
  outline: #ffffff solid thick;
}

.hidden {
  display: none;
}
