<h4> Network Graph</h4>

<span>Layout </span>

<div class="btn-group btn-group-sm  mb-1 " role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group btn-group-sm" role="group">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-secondary btn-sm" id="ddCog2" ngbDropdownToggle>{{layout.name}}</button>
      <div ngbDropdownMenu aria-labelledby="ddCog2">
        <button class="dropdown-item gutter" *ngFor="let l of layoutChoices" (click)="setLayout(l)"><i class="fa fa-check fa-fw check" *ngIf="l == layout"></i> {{l.name}}</button>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary btn-sm" (click)="update()"><i class="fa fa-refresh"></i></button>
</div>

<div class="btn-group btn-group-sm mb-1 mr-auto" role="group" data-toggle="buttons" *ngIf="large">
  <button class="btn btn-info btn-sm" *ngFor="let t of types" (click)="toggleFilter(t)" [ngClass]="{'active': isFiltered(t)}">{{t}}</button>
</div>

<div ngbDropdown class="d-inline-block" *ngIf="!large">
  <button class="btn btn-sm btn-info mb-1" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-filter"></i> Types</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item gutter" *ngFor="let t of types" (click)="toggleFilter(t)"><i class="fa fa-check fa-fw check" *ngIf="isFiltered(t)"></i>{{t}}</button>
  </div>
</div>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-secondary btn-sm  mb-1 " id="ddCog" ngbDropdownToggle><i class="fa fa-cog"></i></button>
  <div ngbDropdownMenu aria-labelledby="ddCog">
    <button class="dropdown-item gutter" (click)="toggleAuto()"><i class="fa fa-check  fa-fw check" *ngIf="prefs.autoLayout"></i> Auto Layout</button>
    <button class="dropdown-item gutter" (click)="toggleNav()" *ngIf="large"><i class="fa fa-check fa-fw check" *ngIf="prefs.showNavigator"></i> Navigator</button>
    <button class="dropdown-item gutter" (click)="toggleZoom()" *ngIf="large"><i class="fa fa-check fa-fw check" *ngIf="prefs.showZoom"></i> Zoom / Pan Controls</button>
    <button class="dropdown-item gutter" (click)="toggleVersion()"><i class="fa fa-check fa-fw check" *ngIf="prefs.showVersion"></i> Version Information</button>
    <button class="dropdown-item gutter" (click)="toggleArrows()"><i class="fa fa-check fa-fw check" *ngIf="prefs.showArrows"></i> Dependency Arrows</button>
    <button class="dropdown-item gutter" (click)="toggleSized()"><i class="fa fa-check fa-fw check" *ngIf="prefs.sized"></i> Size Based on Dependencies</button>

    <div class="dropdown-divider dropdown-provider-override"></div>
    <button class="dropdown-item gutter" (click)="setSelectPref('neighborhood')"><i class="fa fa-check fa-fw check" *ngIf="prefs.select=='neighborhood'"></i> 1st Level Incoming and Outgoing</button>
    <button class="dropdown-item gutter" (click)="setSelectPref('incomers')"><i class="fa fa-check fa-fw check" *ngIf="prefs.select=='incomers'"></i> 1st Level Incoming</button>
    <button class="dropdown-item gutter" (click)="setSelectPref('outgoers')"><i class="fa fa-check fa-fw check" *ngIf="prefs.select=='outgoers'"></i> 1st Level Outgoing</button>
    <button class="dropdown-item gutter" (click)="setSelectPref('big-neighborhood')"><i class="fa fa-check fa-fw check" *ngIf="prefs.select=='big-neighborhood'"></i> All Incoming and Outgoing</button>
    <button class="dropdown-item gutter" (click)="setSelectPref('successors')"><i class="fa fa-check fa-fw check" *ngIf="prefs.select=='successors'"></i> All Incoming</button>
    <button class="dropdown-item gutter" (click)="setSelectPref('predessors')"><i class="fa fa-check fa-fw check" *ngIf="prefs.select=='predessors'"></i> All Outgoing</button>

    <div class="dropdown-divider dropdown-provider-override"></div>

    <button class="dropdown-item gutter" (click)="resetPreferences()"> Reset Preferences</button>
  </div>
</div>

<div>
  <div class="full" #drawingArea>
    <div class="navigator" #navigator [ngClass]="{'hidden': large?!prefs.showNavigator:true}"></div>
  </div>
</div>
