<h4>Database Manager</h4>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h4 class="card-title">Database</h4>
    <p class="card-text">Current database has {{database.processes.length}} Processes</p>

    <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".json" multiple>
    <button class="btn btn-primary" (click)="clearDb()">Clear Database</button>
    <button class="btn btn-primary" (click)="downloadFile()">Download Database</button>
  </div>
