<h4>Database Manager</h4>

<div class="card">
  <div class="card-header">
    Database
  </div>
  <div class="card-body">
    <div class="card-text">
      <p>The current source of your database is: {{database.source}}</p>
      <p>Current database contains </p>
      <ul>
        <li>{{database.processes.length}} Processes</li>
      </ul>
      <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".json" multiple>
      <button class="btn btn-primary" (click)="clearDb()">Clear Database</button>
      <button class="btn btn-primary" (click)="downloadFile()">Download Database</button>
    </div>
  </div>
</div>
