<div class="container-fluid sticky-top" *ngIf="show">
  <div class="row justify-content-end">
    <button *ngIf="show" class="btn btn-info btn-sm mr-1" (click)="edit()" type="button">
                        <i class="fa fa-pencil" aria-hidden="true"> Edit</i>
                    </button>
    <button *ngIf="show" class="btn btn-secondary btn-sm" (click)="cancel()" type="button">
                        <i class="fa fa-ban" aria-hidden="true"> Cancel</i>
                    </button>
  </div>
</div>
<div class="container-fluid" *ngIf="item && item.group == 'nodes'">
  <h4>{{item.data.label}}</h4>
  <h6 class="text-muted mt-2 mb-2">General Information</h6>
  <h6>ID</h6>
  <div class="mt-2 mb-2">{{item.data.id}}</div>
  <h6>Type</h6>
  <div class="mt-2 mb-2">{{item.data.type}}</div>
  <h6>Version</h6>
  <div class="mt-2 mb-2"> {{item.data.version}}<span *ngIf="!item.data.version" class="text-muted">No Version</span></div>
  <h6>Description</h6>
  <div class="mt-2 mb-2">{{item.data.description}}<span *ngIf="!item.data.description" class="text-muted">No Description</span></div>

  <h6 class="text-muted mt-3">Scheduling</h6>
  <h6>Status</h6>
  <div class="mt-2 mb-2">{{item.data.status}}<span *ngIf="!item.data.status" class="text-muted">No Scheduing Status</span></div>
  <h6>Start Date</h6>
  <div class="mt-2 mb-2">{{item.data.start_date}}<span *ngIf="!item.data.start_date" class="text-muted">No Start Date</span></div>
  <h6>Finish Date</h6>
  <div class="mt-2 mb-2">{{item.data.finish_date}}<span *ngIf="!item.data.finish_date" class="text-muted">No Finish Date</span></div>

  <h6 class="text-muted mt-3">Links / Edges</h6>
  <div *ngFor="let link of links" class="">
    <!-- <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
      <button class="btn btn-sm btn-light"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-sm btn-light"><i class="fa fa-times"></i></button>
    </div> -->
    <span class="badge badge-secondary">{{link.data.target|type}}</span> {{link.data.target|label}}<span class="text-muted"> v: {{link.data.version}}</span>
  </div>

</div>
<div class="container-fluid" *ngIf="item && item.group == 'edges'">
  <h4>{{item.data.source|label}} <i class="fa fa-arrow-right"></i> {{item.data.target|label}}</h4>
  <h6 class="text-muted mt-2 mb-2">General Information</h6>

  <h6>ID</h6>
  <div class="mt-2 mb-2">{{item.data.id}}</div>
  <h6>Type</h6>
  <div class="mt-2 mb-2">{{item.data.type}}</div>
  <h6>Version</h6>
  <div class="mt-2 mb-2"> {{item.data.version}}<span *ngIf="!item.data.version" class="text-muted">No Version</span></div>
  <h6>Source</h6>
  <div class="mt-2 mb-2">{{item.data.source|label}}</div>
  <h6>Target</h6>
  <div class="mt-2 mb-2">{{item.data.target|label}}</div>

  <!-- <h6 class="text-muted mt-3">Scheduling</h6>
  <h6>Status</h6>
  <div class="mt-2 mb-2">{{item.data.status}}<span *ngIf="!item.data.status" class="text-muted">No Scheduing Status</span></div>
  <h6>Start Date</h6>
  <div class="mt-2 mb-2">{{item.data.start_date}}<span *ngIf="!item.data.start_date" class="text-muted">No Start Date</span></div>
  <h6>Finish Date</h6>
  <div class="mt-2 mb-2">{{item.data.finish_date}}<span *ngIf="!item.data.finish_date" class="text-muted">No Finish Date</span></div> -->
</div>
