<h4> Dependency Matrix</h4>

<span>Rows </span>
<div class="btn-group btn-group-sm  mb-1 " role="group" aria-label="Button group with nested dropdown">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-secondary btn-sm" id="ddCog2" ngbDropdownToggle>{{prefs.xAxis}}</button>
    <div ngbDropdownMenu aria-labelledby="ddCog2">
      <button class="dropdown-item gutter" *ngFor="let l of types" (click)="setX(l)"><i class="fa fa-check fa-fw check" *ngIf="l == xAxis"></i> {{l}}</button>
    </div>
  </div>
</div>

<span>Columns </span>
<div class="btn-group btn-group-sm  mb-1 " role="group" aria-label="Button group with nested dropdown">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-secondary btn-sm" id="ddCog2" ngbDropdownToggle>{{prefs.yAxis}}</button>
    <div ngbDropdownMenu aria-labelledby="ddCog2">
      <button class="dropdown-item gutter" *ngFor="let l of types" (click)="setY(l)"><i class="fa fa-check fa-fw check" *ngIf="l == yAxis"></i> {{l}}</button>
    </div>
  </div>
</div>

<div class="btn-group btn-group-sm mb-1" role="group" data-toggle="buttons">
  <button [disabled]="!selected" class="btn btn-secondary btn-sm " (click)="edit()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit </button>
  <button class="btn btn-sm btn-secondary " (click)="newItem()"><i class="fa fa-plus" aria-hidden="true"></i> New Item</button>
  <button class="btn btn-sm btn-secondary " (click)="newEdge()"><i class="fa fa-plus" aria-hidden="true"></i> New Link</button>
</div>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-secondary btn-sm  mb-1 " id="ddCog" ngbDropdownToggle><i class="fa fa-cog"></i></button>
  <div ngbDropdownMenu aria-labelledby="ddCog">
    <button class="dropdown-item gutter" (click)="toggleVersion()"><i class="fa fa-check fa-fw check" *ngIf="prefs.showVersion"></i> Version Information</button>
    <div class="dropdown-divider dropdown-provider-override"></div>
    <button class="dropdown-item gutter" (click)="resetPreferences()"> Reset Preferences</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <table class="matrix">
      <tr>
        <th class="matrix"> </th>
        <th *ngFor="let yHeader of yHeaders" class="matrix rotate">
          <div><span (click)="select(yHeader)">{{yHeader.display}}</span></div>
        </th>
      </tr>
      <tr *ngFor="let xHeader of xHeaders; let row = index">
        <td class="matrix_left" (click)="select(xHeader)">{{xHeader.display}}</td>
        <td *ngFor="let yHeader of yHeaders; let col = index" class="matrix item" (click)="select(cells[row][col])" [ngClass]="{'filled': xHeader.value == yHeader.value}"><i class="fa fa-fw {{cells[row][col].direction}}"></i><br /> <span class="version" *ngIf="prefs.showVersion">{{cells[row][col].version}}</span></td>
      </tr>
    </table>
  </div>
  <div class="col-lg-3" *ngIf="large">
    <div class=" sticky-top">
      <app-view [item]="selected"></app-view>
    </div>
  </div>
</div>
