table.matrix {
  border-spacing: 2px;
  border-color: grey;
}

td.matrix_left {
  border: 1px solid black;
  text-align: right;
  padding: 5px 10px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

td.matrix {
  border: 1px solid black;
  width: 40px;
  text-align: center;
  padding: 0px;
  border: 1px solid #ccc;
}

th.rotate {
  font-weight: normal;
  height: 180px;
  white-space: nowrap;
}

th.rotate>div {
  transform: /* Magic Numbers  height-110*/
  translate(24px, 70px)
  /* 45 is really 360 - 45 */
  rotate(315deg);
  width: 30px;
}

th.rotate>div>span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  display: inline-block;
  width: 200px;
}

td:hover {
  background-color: #eee;
  cursor: pointer;
}

.check {
  margin-left: -24px
}

.gutter {
  padding-left: 1.75rem
}

.filled {
  background-color: #ccc
}

.hidden {
  display: none;
}

.version {
  font-size: 8pt;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
