/* You can add global styles to this file, and also import other style files */

.dropdown-provider-override {
  border-top: 1px solid #d0d7de
}

.check {
  margin-left: -24px
}

.gutter {
  padding-left: 1.75rem
}

